<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>GeoChase Karargahı</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <div *ngIf="!playerProfile" style="text-align: center; margin-top: 50px;">
    <p>Profil yükleniyor...</p>
  </div>

  <div *ngIf="playerProfile">
    <ion-card>
      <img alt="Player Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" style="max-height: 150px; margin: 20px auto; display: block;" />
      
      <ion-card-header style="text-align: center;">
        <ion-card-subtitle color="secondary">Seviye {{ playerProfile.level }}</ion-card-subtitle>
        <ion-card-title>{{ playerProfile.username }}</ion-card-title>
      </ion-card-header>

      <ion-card-content style="text-align: center;">
        <h2 style="font-size: 1.2rem;">Unvan: <strong>{{ playerProfile.title }}</strong></h2>
        <p style="font-size: 1.1rem; margin-top: 10px;">Toplam Puan: <ion-text color="success"><strong>{{ playerProfile.score }}</strong></ion-text></p>
      </ion-card-content>
    </ion-card>
  </div>
      <ion-button expand="block" color="warning" class="ion-margin-top" (click)="goToMap()">
    📡 Saha Radarına Geç
  </ion-button>
</ion-content>